<tr>
    <th><a href="/{{link}}?sort=name&order={{name_order}}">Name</a></th>
    <th><a href="/{{link}}?sort=modified&order={{modified_order}}">Last modified</a></th>
    <th><a href="/{{link}}?sort=size&order={{size_order}}">Size</a></th>
</tr>
<tr>
    <td style="border-top:1px dashed #BBB;" colspan="5"></td>
</tr>